<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Welcome To SGMCOE Mahagaon</h1>
  <nav>
    <a href="">Home</a>&nbsp;&nbsp;
    <a routerLink="/student" routerLinkActive="active">Student</a>
    &nbsp;&nbsp; 
    <a routerLink="/department" routerLinkActive="active">Department</a>
    
  </nav>
 

 
  <router-outlet>

  </router-outlet>
</body>

</html>